.grid-input{
  width:  100%;
  margin: 2rem !important;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: fit-content;

  &--text-box {
    border-radius: 0.25rem;
    width:20rem
  }
}